* {
    box-sizing: border-box;
}

html {
    &,
    body {
        height: 100%;
        display: flex;
        flex-direction: column;
        text-wrap: pretty;

        app-root {
            &,
            .app-layout,
            .app-layout > :not(router-outlet) {
                display: inherit;
                flex-direction: inherit;
                flex: 1;
            }
        }
    }

    body {
        margin: 0;
    }
}
